// 字体
$fontSim: 'SimSun';
$fontYH: 'Microsoft YaHei';

// 颜色定义规范
$color_background: #fff; // 主背景浅色
$color_background_d: #f2f2f2; // 主背景深色
$color_highlight_background: #fff; // 高亮背景色
$color_dialog_background: #fff; // 对话框背景色
$color_theme: #ef443c; // 主题色
$color_theme_d: #fff; // 主题深色
$color_sub_theme: #ccc; // 子主题色
$color_text: #333; // 一般描述文字体色
$color_text_d: #ef443c; // 重要提示文字体色
$color_text_l: #999; // 次要文字体色
$color_text_ll: #fff; // 字体色高亮
$color_text_input: #ccc; // 输入框字体色高亮

//字体定义规范
$font_size_small_s: 22px;
$font_size_small: 24px;
$font_size_medium: 26px;
$font_size_medium_x: 28px;
$font_size_medium_xx: 32px;
$font_size_large: 40px;
$font_size_large_x: 60px;
